.wrapper {
  width: 100%;
  padding: 30px 200px;
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding-left: 0px;
    a {
      font-size: 28px;
      font-weight: bold;
    }
  }
}
